__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.ipynb_checkpoints/
*.ipynb~

_freeze/
_publish/
.quarto/
_site/*

data/*.csv
data/*.tsv
data/*.xlsx
data/*.parquet
models/
*.h5
*.pkl
*.joblib

.env
.venv/
env/
venv/
pip-log.txt
poetry.lock
Pipfile.lock

.devcontainer/
.vscode/
*.code-workspace

.DS_Store
Thumbs.db
/.quarto/
